.divP {
	text-align: center;
}

.divH{
	display: inline-block;
	justify-content: center;
}

#div{
	clear: both;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	margin-top: auto;
}