<meta charset="utf-8">
<p style="text-align: center;">BOLETO</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="C:\Users\Edidi\OneDrive\Escritorio\autobuses\static\IMG\autobus_cartoon.jpeg" alt="" width="185" height="104" /></p>
<table style="height: 164px; width: 67.8363%; border-collapse: collapse; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 26.4143%; height: 18px;" colspan="3">Origen</td>
<td style="width: 44.2374%; height: 18px;" colspan="3">Destino</td>
</tr>
<tr style="height: 18px;">
<td style="width: 26.4143%; height: 74px;" colspan="3">{{origen}}</td>
<td style="width: 44.2374%; height: 74px;" colspan="3">{{destino}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 26.4143%; height: 18px;" colspan="3">FECHA DE VIAJE</td>
<td style="width: 25%; height: 18px;">&nbsp;</td>
<td style="width: 16.6667%; height: 18px;">HORA DE VIAJE</td>
<td style="width: 2.57069%; height: 18px;">Asiento</td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 26.4143%;" colspan="3">{{fecha}}</td>
<td style="width: 25%; height: 74px;">&nbsp;</td>
<td style="width: 16.6667%; height: 74px;">{{hora}}</td>
<td style="width: 2.57069%; height: 74px;">{{asiento}}</td>
</tr>
<tr style="height: 18px;">
<td style="height: 18px; width: 26.4143%;" colspan="3">NUMERO DE BOLETO</td>
<td style="width: 25%; height: 18px;">TIPO DE VIAJE</td>
<td style="width: 19.2374%; height: 18px;" colspan="2">IMPORTE TOTAL</td>
</tr>
<tr style="height: 74px;">
<td style="width: 26.4143%; height: 74px;" colspan="3">Terminal {{terminal}}</td>
<td style="width: 25%; height: 74px;">{{tipo}}</td>
<td style="width: 19.2374%; height: 74px;" colspan="2">{{precio}}</td>
</tr>
</tbody>
</table>